@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --background-color: rgb(255, 255, 255);
  --brand-color-pink: rgb(245, 75, 75);
  --brand-color-pink-transparent :rgba(245, 75, 75, 0.5);
  --brand-color-yellow: #ffcb05;
}

.modal-header {
  background: var(--brand-color-pink);
  color: floralwhite;
}

.modal-header button {
  color: floralwhite;
}

.modal-body {
  background:white
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #ffffff;
  margin: 0px auto;
  padding: 20px 0px;

}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color:rgba(245, 75, 75,0.2);
  /* background: var(--background-color); */
  color: black;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px #383838;
}

.nav-link span:first-child {
  color: var(--brand-color-yellow)
}
.nav-link span:last-child {
  color: black
}
.active .nav-link span:last-child {
  color: red;
  font-weight: bold;
}
#loginButton{
  color: var(--brand-color-pink);
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.carousel {
  background: var(--brand-color-pink);
}

.carousel .carousel-item {
  height: 300px;
}

.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  min-width: 275px;
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

#ihabimg {
  width: 25%;
}

.color-pink {
  font-weight: 700;
  color: var(--brand-color-pink)
}
.color-yellow{
  font-weight: 700;
  color: var(--brand-color-yellow)
}
.color-yellow-background{
  background-color: var(--brand-color-yellow);
 }
.color-pink-background{
  background-color: var(--brand-color-pink);
 }
.color-pink-border{
   border: 4px solid var(--brand-color-pink) ;
}

#carouselButton{
  color: var(--background-color)
}
.white-background{
  background-color: var(--background-color);
}